:root {
	--container-width: 1200px;
	--container-padding: 15px;

	--font-main: 'Inter', 'Arial', sans-serif;
	--font-accent: 'Inter', 'Arial', sans-serif;

	--page-bg: #eaf6fb;
	--text-color: #23395d;
	--accent: #7bb6ea;
	--primary: #4a90e2;
	--secondary: #b3d8f7;
	--abstract1: #eaf6fb;
	--abstract2: #b3d8f7;
	--abstract3: #eaf6fb;
	--button-bg: var(--primary);
	--button-text: #fff;

    --laptop-size: 1199px;
	--tablet-size: 959px;
	--mobile-size: 599px;
}

.dark {
    --page-bg: #23395d;
    --text-color: #fff;
    --accent: #7bb6ea;
    --primary: #4a90e2;
    --secondary: #b3d8f7;
}