.header {
	background-color:#437563;
	padding: 50px 0;
	color: #FFFFFF;

	&__row {
		display: flex;
		justify-content: space-between;
		align-items: center;
		@media screen and (max-width: 700px) {
			flex-wrap: wrap;
			& div{
				width: 50%;
			}
		}
		@media screen and (max-width: 500px) {
			display: block;
			& div{
				width: 100%;
				margin: 24px 0;
				text-align: center;
			}
		}
	}
	&__con{
		text-align: right;
		@media screen and (max-width: 390px) {
			font-size: 18px;
		}
	}
}
.nav-a:hover{
	color: bisque;
}
